//
// Team section styling
//

.main-section {
    margin-bottom: 3rem;
    text-align: center;

    img {
        width: 20rem;
        height: 20rem;
        /*border: 0.5rem solid fade-out($myblue, 0.9);*/
        border: 0.5rem solid $white;
    }

    h4 {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
}

// Brand images for client section
.img-brand {
    height: 2.75rem;
}
