//
// Colors
//

// Override Bootstrap color variables

$myblue: #060485;
$mygray: #c1c6c8;

// Override Bootstrap state colors variables

$primary: $myblue;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;

